*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: relative;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background: orangered;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 60px;
}
.logo{
    flex: 1;
    margin-left: 40px;
}
.logo h1{
    letter-spacing: 2px;
    font-size: 30px;
}
.list-items{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link:hover{
    color: cadetblue;
}
.table-box{
    margin-top: 100px;
}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    background: orangered;
    padding: 12px 0;
    color: black;
    font-size: 13px;
    box-shadow: black;
}
.table-cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid black;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;

}    
